body{
    color: #000000;
    font-size: 16px !important;
    font-family: "Verdana"; 
}
div.bigBox{
    margin: 0;
    padding: 30px; 
    display: flex;
    flex-wrap: wrap;        /* allows items to go to next line when too tight */
    align-items: flex-start;
    font-family: "roboto";
}

h1{
    color: #000000;
    font-size: 60px !important;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
}
h2{
    color: #ffffff;
    background-color: #4d6f29;
    font-weight: bold;
    font-size: 28px !important;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
}
h3{
   
    color: #3b4e1b;
    font-size: 22px !important;
    text-align: left;
    text-decoration: underline;     
    margin-top: 5px;
    margin-bottom: 0px;

}

p{
    font-size: 20px !important;
    margin: auto;
}
p.intro{
    font-size: 22px !important;
    padding-top: 5px;
    padding-bottom: 10px;
}
p#TAIntro{
    margin-top:15px;
    /*padding-top:15px;*/
    margin-bottom:10px;
    margin-left:5px;
}
#heading{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 60%;
    border-radius: 8px;
    outline-style: dotted;
    outline-width: thick;
    outline-color: #97A3A1;
}
#headingIndex{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 60%;
    border-radius: 25px;
    outline-style: dotted;
    outline-width: thick;
    outline-color: #97A3A1;
}


img{
    /*border: 5px solid #6D6875;*/
    border-radius: 25px;
    margin: auto;
    width: 100%;
} 
div#menu{
    margin: auto;
    width: 20%;
    text-align: center;
    border: 5px solid #6D6875;
    border-radius: 25px;
    background-color: #ECBEB4;
    padding: 5px;
    font-size: 20px !important;
}
div#foot{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: center !important;
    float: left;
    font-size: 12px !important;
}
div.content{
    background-color: #FFFFFF;
    margin: auto;
    font-size: 18px;
    width: 90%;
    border-radius: 8px;
    outline-style: solid;
    outline-width: thick;
    outline-color: #6D6875;
    padding-bottom: 10px;
}
div#digiWork{
    /*background-color: #FFFFFF;*/
    /*width: 50%;*/
    /*border-radius: 25px !important;
    outline-style: solid;
    outline-width: thick;
    outline-color: #6D6875;*/
    padding-left: 0.05in;
    padding-right: 30px;
    font-size: 20px;
    text-align: justify;
    flex: 2.5 1 0;  
    min-width: 350px;
    float: left;
    overflow:hidden;
}
div#image{
    /* 2:1 ratio vs image on wide screens */
    flex: 1 1 0;           
    min-width: 150px;
    float: left;
    margin-right:50px;
    overflow:hidden;
}
div.content p{
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 30px;
    margin-right: 20%;
}
.date{
    float: right;
    padding-right: 10px;
    font-size: 18px;
}
.loc{
    float: right;
    padding-right: 10px;
    font-size: 18px;
}
.name{
    float: left;
    padding-left: 10px;
    font-size: 18px;
}
.place{
    float: left;
    padding-left: 10px;
    font-size: 18px;
}
.degree{
    float: left;
    padding-left: 30px;
    font-size: 18px;
}
i.name{
    font-weight: bold;
    font-size: 18px;
}
.position{
    float: left;
    padding-left: 10px;
    font-size: 18px;
}

a:link{
    text-decoration: underline;
    color:blue;
}

a:visited{
    text-decoration: underline;
    color: #5E2129;
 /*   font-size: 18px;*/

}
a:hover{
    text-decoration: underline;
/*    background-color: #000000;*/
/*    font-size: 18px;*/

}
/*https://coolors.co/f1dbd2-93928d-ecbeb4-b19994-6d6875*/

/*TEST PAGE STYLING*/

div.title {
    line-height: 105%;
    font-size: 75px;
    font-weight: bold;
    font-family: "roboto";
    color: #556B2F;
    padding-bottom: 6pt;
    margin-top: 12.0pt;
    margin-right: .1in;
    margin-left: .3in;
    margin-bottom: 0pt;
}

div.affiliation{
    line-height: 80%;
    font-size: 30px;
    color: #556B2F;
    margin-top: 0pt;
    margin-right: 0.05in;
    margin-left: 0.05in;
    margin-bottom: .0001pt;
}

hr{
    width: 85%;
    margin:0.05in;
    /*padding-left:0px;*/
    /*box-align:left;*/
    background-color:#003000;
}

ul.res{
    list-style-type: circle;
}
ul.TA{
    list-style-type: circle;
    margin-top: 15px;
    padding-top: 0px;
}

li.wide {
    margin-bottom: 20px;
    font-size: 20px !important;
     
}

li.narrow{
    margin-bottom: 5px;
    font-size: 20px !important;
}

.navbar {
    background-color: #2f4a16;       /* dark green bar */
    font-family: "roboto";
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;              /* controls overall bar height */
    margin-left: .3in;
    margin-right: .1in;
}

/* Links inside the nav bar */
.navbar .nav-link {
    background-color: #2f4a16;       /* same as bar by default */
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 18px;               /* rectangle size */
    border-radius: 4px;              /* small rounded corners */
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Override global link styles for nav links */
.navbar .nav-link:link,
.navbar .nav-link:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Hover: slightly lighter background */
.navbar .nav-link:hover {
    background-color: #3f5e20;       /* slightly lighter green */
    text-decoration: none;
}

/* Active page: slightly different background + bold text */
.navbar .nav-link.active {
    background-color: #4d6f29;       /* a bit lighter than bar */
    font-weight: bold;
}

/* Optional: visible keyboard focus */
.navbar .nav-link:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

